<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    hello this is template
</body>
<script>
    var id=1
    let socket = new WebSocket('ws://localhost:8000/ws/order/'+id)
    socket.onopen = function(event){
        console.log(event)
    }
    socket.onmessage = function(e){
        console.log(e)
    }
    socket.onclose = function(e){
        console.log(e)
    }

    </script>
</html>